#contacts{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    width: 40vw;
    height: 10vh;
}

#form-box{
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: green;
    color: green;
    border-style: solid;
    padding: 1vh 1vh 1vh 1vh;

}
#comment-section{
    width: 30vw;
    height: 15vh;
}
.inputs{
    width: 20vw;
    height: 3vh;
}

.buttons{
    width: 10vw;
    height: 5vh;
}

input{
    /* text-align: center;
    padding: 1vh 1.5vw;
    font-size: 2.5vh; */
    background-color: black;
    color: green;
}

input:hover {
  background-color: #4CAF50;
  color: white;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
