#contacts{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form-box{
    height: 30vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: green;
    color: green;
    border-style: solid;
    padding: 1vh 1vh 1vh 1vh;
    margin: 10vh;

}

input{
    /* text-align: center;
    padding: 1vh 1.5vw;
    font-size: 2.5vh; */
    background-color: black;
    color: green;
}

input:hover {
  background-color: #4CAF50;
  color: white;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
