.content-box{
    background-color: rgba(0, 0, 0, 1);

    width: 80vw;
    height: 50vh;

    display: flex;
    flex-direction: column;

}

.body-content{
    /* outline: azure; */
    background-color: black;
    width: 80vw;
    height: 50vh;
    justify-self: end;
    display: flex;
    flex-direction: row;
}
.body-text{
    outline: azure;
    color: azure;
    width: 50vw;
    height: 40vh;
    margin: auto;

    /* justify-self: end; */
    /* display: flex;
    flex-direction: row; */
}

.body-text-100{
    outline: azure;
    text-align: center;
    margin: auto;
    width: 80vw;
    height: 40vh;
    /* justify-self: end; */
    /* display: flex;
    flex-direction: row; */
}


.header-text{
    
    width: 80vw;
    height: 5vh;
    
    display: flex;
    flex-direction: row;
    margin: 0;
}
.left{
    justify-content: flex-start;
}

.right{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

#picture{
    border-radius: 5vmin;
    width: 40vmin;
    height: 30vmin;
}

#profilePicture{
    border-radius: 20vmin;
    width: 40vmin;
    height: 40vmin;
}