.content-box{
    background-color: rgba(0, 0, 0, 1);

    width: 100%;
    height: 50vh;
    padding-top: 5vh;

    display: flex;
    flex-direction: column;

}

.body-content{
    /* outline: azure; */
    background-color: black;
    width: 100%;
    height: 90%;
    justify-self: end;
    display: flex;
    flex-direction: row;
}
.body-text{
    outline: azure;
    color: azure;
    width: 70%;
    height: 90%;
    /* justify-self: end; */
    /* display: flex;
    flex-direction: row; */
}

.body-text-100{
    outline: azure;

    width: 100%;
    height: 90%;
    /* justify-self: end; */
    /* display: flex;
    flex-direction: row; */
}


.header-text{
    
    width: 100%;
    height: 10%;
    align-self: start;
    display: flex;
    flex-direction: row;
}

.picture{
    width: 30%;
    height: 100%;
}

#profilePicture{
    border-radius: 10vw;
    width: 35%;
    height: 100%;
}