#chequeChain{
    background-image: url("/resources/chequeChainScreenShot.png");
}

.videos{
    display: flex;
    flex-direction: column;
}

.videos-row{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;
}

.row-text{
    box-shadow: 1vh 1vh green;
    border-bottom: 1vh inset black;
    margin-bottom: 2vh;
}